[submodule "third_party/implot"]
	path = third_party/implot
	url = https://github.com/epezent/implot.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "backend/third_party/implot"]
	path = backend/third_party/implot
	url = https://github.com/epezent/implot.git
[submodule "backend/third_party/imgui"]
	path = backend/third_party/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
